<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#0f1626"/>
  <link rel="icon" href="./images/favicon.ico">
  <link rel="apple-touch-icon" href="./images/icons/icon-192.png">
  <title>DishItOut!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <link rel="manifest" href="./app.webmanifest" />
</head>

<body>
  <a href="#content" class="skip-link">Skip to content</a>
  <header>
    <nav class="navbar">
      <div class="nav_brand">
        <h1 class="nav_brand-logo"><a href="/">DishItOut!</a>
        </h1>
      </div>
      <div class="nav_menu">
        <a href="#" id="hamburger">☰</a>
      </div>
      <div id="drawer">
        <ul class="nav_list">
          <li class="nav_item"><a href="/">Home</a></li>
          <li class="nav_item"><a href="#/favorite">Favorite</a></li>
          <li class="nav_item"><a href="https://github.com/bersianturi/">About Us</a></li>
        </ul>
      </div>
    </nav>
  </header>
  
  <main id="content" tabindex="0"></main>
  <footer>
    <p>Copyright &#169; 2021 - DishItOut! </p>
  </footer>
</body>

</html>